{{define "yield"}}
    <h1>Welcome to my website!</h1>
    <form action="/" method="post">
        <input name="email" type="email"/>
        <button type="submit">Submit form</button>
    </form>
{{end}}