{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello World!</title>
    <style>
        html, body {
            background-color: aliceblue;
        }

        div {
            max-width: 600px;
            margin: 20px auto;
            background-color: whitesmoke;
        }
    </style>
</head>
<body>
<div>
    {{template "yield" .}}
</div>
</body>
</html>
{{end}}